body {
  padding: 0;
  max-height: 100%;
  font-family: "Nunito", sans-serif;
  overflow: hidden;
  max-width: 500px;
  margin: 0 auto;
}
p , h2, span, h1{
  margin: 0;
  padding: 0;
}
.main-height-container {
  margin-top: 50px !important;
}
.face-container {
  width: 100%;
  background: white;
  position: absolute;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
  display: flex;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.span-iframe {
  position: absolute;
  top: 50px;
  font-size: 20px;
  right: 50px;
}
